# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.MyFirstGame.iml
# Datasource local storage ignored files
/../../../../../../../../:\GameDev\Repos\Unity\MyFirstGame\.idea\.idea.MyFirstGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
